.form-inputs{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px auto;
    label{
        margin-top: 10px;
        color: white;
        
    }
    input{
        cursor: pointer;
        border-radius: 5px;
        
        :active{
            background-color: #b7dbfa;
        }
    }
    button{
        background-color: #b6d8f5;
       
    }
    .btn-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 25px;
        gap: 15px;
    }
}
.form-edit{
    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}