.h1-title{
    background-color: rgb(40, 118, 139);
    color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    font-size: 1.8rem;
  }


img{
  margin-top: 20px;
  width: 50%;
}